# Tag-along codes for the quiz questions that required coding before getting answers.

In [1]:
#Importing needed libraries for the quiz.

# Importing NumPy
import numpy as np

# Importing Pandas
import pandas as pd

In [7]:
# Reading the dataframe

df = pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [12]:
# Glimpse into the dataframe
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [8]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
# Select columns 'Y2017' and 'Area'
selected_columns = df[['Y2017', 'Area']]

# Perform groupby operation and calculate sum for each area in 2017
sum_2017_by_area = selected_columns.groupby('Area')['Y2017'].sum().reset_index()

# Sort the DataFrame by sum of values in ascending order
sorted_sum_2017_by_area = sum_2017_by_area.sort_values(by='Y2017')

# Extract the 7th row to find the area with the 7th lowest sum
seventh_lowest_area = sorted_sum_2017_by_area.iloc[6]['Area']

print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [9]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
# Select columns 'Y2017' and 'Area'
selected_columns = df[['Y2017', 'Area']]

# Perform groupby operation and calculate sum for each area in 2017
sum_2017_by_area = selected_columns.groupby('Area')['Y2017'].sum()

# Find the area with the highest sum
area_with_highest_sum = sum_2017_by_area.idxmax()

print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria

In [25]:
"""
Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’
"""

# Filter the dataset for the columns 'Item', 'Y2015', and 'Y2018'
df_filtered = df[['Item', 'Y2015', 'Y2018']]

# Filter the dataset for the item 'Wine'
wine_production = df_filtered[df_filtered['Item'] == 'Wine']

# Find the total sum of Wine produced in 2015 and 2018 respectively
total_wine_2015 = wine_production['Y2015'].sum()
total_wine_2018 = wine_production['Y2018'].sum()

# Print the results
print("Total sum of Wine produced in 2015:", total_wine_2015)
print("Total sum of Wine produced in 2018:", total_wine_2018)

Total sum of Wine produced in 2015: 4251.8099999999995
Total sum of Wine produced in 2018: 4039.3199999999997

In [14]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?

# Count the missing values in the column 'Y2014'
missing_count = df['Y2014'].isnull().sum()

# Calculate the total number of entries in the column 'Y2014'
total_entries = len(df['Y2014'])

# Calculate the percentage of missing data
percentage_missing = (missing_count / total_entries) * 100

# Print the results
print("Total number of missing data in 2014:", missing_count)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [15]:
# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

# Select only the columns for the year 2017
year_2017 = df['Y2017']

# Calculate the mean and standard deviation for the year 2017
mean_2017 = year_2017.mean()
std_dev_2017 = year_2017.std()

# Print the results
print("Mean for the year 2017:", round(mean_2017, 2))
print("Standard deviation for the year 2017:", round(std_dev_2017, 2))

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

In [16]:
# What is the total number of unique countries in the dataset?

# Extract the 'Area' column which represents countries
countries = df['Area']

# Count the number of unique countries
unique_countries = countries.nunique()

# Print the total number of unique countries
print("Total number of unique countries in the dataset:", unique_countries)

Total number of unique countries in the dataset: 49

In [18]:
# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

# Group by 'Element' and sum the values for each year
element_group = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum of Stock Variation
max_stock_variation_year = element_group.loc['Stock Variation'].idxmax()

# Print the year with the highest sum of Stock Variation
print("Year with the highest sum of Stock Variation:", max_stock_variation_year)

Year with the highest sum of Stock Variation: Y2014

In [19]:
# What is the total Protein supply quantity in Madagascar in 2015?

# Filter the dataframe for rows where the 'Area' column is 'Madagascar'
madagascar_data = df[df['Area'] == 'Madagascar']

# Get the total Protein supply quantity in Madagascar in 2015
protein_supply_2015 = madagascar_data['Y2015'].sum()

# Print the total Protein supply quantity in Madagascar in 2015
print("Total Protein supply quantity in Madagascar in 2015:", protein_supply_2015)

Total Protein supply quantity in Madagascar in 2015: 126674.9

In [20]:
# What is the total Protein supply quantity in Madagascar in 2015?

# Filter the dataframe for rows where the 'Area' column is 'Madagascar' and 'Element' column is 'Protein'
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein')]['Y2015'].sum()

# Print the total Protein supply quantity in Madagascar in 2015
print("Total Protein supply quantity in Madagascar in 2015:", madagascar_protein_2015)

Total Protein supply quantity in Madagascar in 2015: 0.0

In [21]:
# What is the total Protein supply quantity in Madagascar in 2015?

# Filter the dataframe for rows where the 'Area' column is 'Madagascar' and 'Element' column is 'Protein'
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Food supply (kcal/capita/day)') & (df['Item'] == 'Protein')]['Y2015'].sum()

# Print the total Protein supply quantity in Madagascar in 2015
print("Total Protein supply quantity in Madagascar in 2015:", madagascar_protein_2015)

Total Protein supply quantity in Madagascar in 2015: 0.0

In [22]:
# Which year had the least correlation with ‘Element Code’?

# Compute the correlation between 'Element Code' and each year column
correlations = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()

# Find the year with the least correlation with 'Element Code'
least_correlated_year = correlations['Element Code'].idxmin()

# Print the least correlated year
print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': Y2016

In [23]:
y = [(2, 4), (7, 8), (1, 5, 9)]

# Assign element 8 to variable x from above list of tuples
x = y[1][1]

# Print variable x
print(x)  # Output: 8

8

In [24]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

# Group by 'Element' and sum the values for each year
element_group = df.groupby('Element').sum()

# Extract the sum of 'Processing' in 2017
processing_2017_sum = element_group.loc['Processing', 'Y2017']

# Print the total sum of 'Processing' in 2017
print("Total sum of Processing in 2017:", processing_2017_sum)

Total sum of Processing in 2017: 292836.0

In [31]:
# Slicing for the elements in the last 2 columns of the first 2 row of the following array:

array  = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

selected_elements = array[ : 2, 1 : ]
selected_elements

array([[89, 63],
       [92, 48]])